<div class='search-character__form'>
  <form (ngSubmit)="handleSearch()" [formGroup]="form">
    <div class='ui action input'>
      <input [formControl]="characterName"
             name='characterName'
             placeholder='Character Name'
             type='text'
             required
             />

        <button type="submit" class='ui icon pink button'>
            <i class='search icon'></i>
        </button>
    </div>
  </form>
  <div *ngIf="serverError" class='ui message red'>
    Server Error
  </div>
  <div *ngIf="charactersError" class='ui message orange'>
    No characters found
  </div>
  <div *ngIf="!!characters.length" class='ui characters-list cards'>
    <app-character-card *ngFor="let character of characters" [character]="character" class='ui card fadeIn-animation'>
    </app-character-card>
  </div>
</div>
